28 - Czujnik ruchu czy kontaktron/lazienka.json
[{"id":"15e1a3f13dfb2bd1","type":"tab","label":"Łazienka","disabled":false,"info":""},{"id":"81c9a405839695b8","type":"server-state-changed","z":"15e1a3f13dfb2bd1","name":"Door Lazienka","server":"8de9d0066f5abfe0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mi_door_lazienka_parter_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":240,"wires":[["7d0ca9cdf350fd16"],[]]},{"id":"699e5ac3ff574348","type":"debug","z":"15e1a3f13dfb2bd1","name":"true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"7d0ca9cdf350fd16","type":"api-current-state","z":"15e1a3f13dfb2bd1","name":"lazienka_parter off","server":"8de9d0066f5abfe0","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lazienka_parter","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":400,"wires":[["2cdf17720f153576"],["0df2564d08df36ec"]]},{"id":"25a1c4ac7686d079","type":"debug","z":"15e1a3f13dfb2bd1","name":"false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"2cdf17720f153576","type":"api-call-service","z":"15e1a3f13dfb2bd1","name":"Turn On Light","server":"8de9d0066f5abfe0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lazienka_parter","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":300,"wires":[["699e5ac3ff574348"]]},{"id":"0df2564d08df36ec","type":"api-call-service","z":"15e1a3f13dfb2bd1","name":"Turn Off Light","server":"8de9d0066f5abfe0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lazienka_parter","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":480,"wires":[["25a1c4ac7686d079"]]},{"id":"8de9d0066f5abfe0","type":"server","name":"HA","version":1,"legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]